<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link href='https://unpkg.com/sanitize.css' rel='stylesheet' />
    <style>
      body { padding: 24px 6px; font-family: sans-serif; font-size: 15px; color: #565555; } .card { background-color:
      #fff; padding: 35px 15px; box-shadow: 0 0px 36px rgba(0, 0, 0, 0.08); border-radius: 12px; margin-bottom: 34px;
      border: 1px solid #ddd; } h1 { color: deeppink; } h3 { color: #000; border-bottom: 1px solid #ddd; } p {display:
      flex; justify-content: space-between; background-color: #f7f7f7; padding: 4px 12px; border-radius: 12px;border:
      1px solid #ddd;} span {color: #000; font-weight: bold;}
    </style>
  </head>

  <body>
    {{{body}}}
  </body>

  <footer>
    <a href='https://github.com/zaqoutm' target='_blank'>Developer github page</a>
  </footer>
</html>