<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link href='https://unpkg.com/sanitize.css' rel='stylesheet' />
    <style>
      body { font-family: sans-serif; font-size: 15px; color: #999; background-color: #f7f7f7; padding: 6px; } .card {
      background-color: #fff; padding: 12px; margin-bottom: 34px; border: 1px solid #ddd; border-radius: 21px; } h1 {
      font-size: 26px; color: #860edc; } h3 { margin: 0; } p { margin: 8px 0; display: flex; justify-content:
      space-between; background-color: #f7f7f79a; padding: 4px 12px; border-radius: 4px; border: 1px solid #ddd; color:
      #000; } span { color: #000; font-weight: bold; }
    </style>
  </head>

  <body>
    {{{body}}}
  </body>

  <footer>
    <a href='https://github.com/zaqoutm' target='_blank'>Developer github page</a>
  </footer>
</html>